@use '../../assets/sass/_variables.scss' as *;

* {
    margin: 0;
    padding: 0;
  }

.filters-list{
    width: 100%;
    display: flex;
    justify-content: center;
    &__slider{
        color: $color-secondary;
    }
    &__abv{
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
    }
    &__button-unclicked{
        height: 2rem;
        width: 4rem;
        background-color: $color-secondary;
        font-size: 1.5rem;
    }
    &__button-clicked{

    }
}