@use '../../assets/sass/_variables.scss' as *;

* {
    margin: 0;
    padding: 0;
  }

.filters-list{
    width: 100%;
    display: flex;
    justify-content: center;
    &__slider{
        color: $color-secondary;
    }
}