@use './assets/sass/_variables.scss' as *;
* {
  margin: 0;
  padding: 0;
}

.App {
  background-image: linear-gradient(to bottom, $color-tertiary, $color-tertiary, $color-primary);
  min-height: 100vh;
}
