// colors 

$color-primary: #E1CDA8;
$color-secondary: #E78E59;
$color-tertiary: #F2A054;

$color-card-background-dark: #d7aa5c;;
$color-card-background-light: #F7C167;

$color-black: #3E3431;
$color-white: #F9F5EC;

$color-accents: #ABBBC0;